@page
@model JaminBooks.Pages.Admin.FlaggedRatingsModel
@{
    ViewData["Title"] = "FlaggedRatings";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<div class="container body-content">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1" style="min-height:95vh">
                <div class="row">
                    <div class="col-12 text-center mt-3 mb-3">
                        <h2>Flagged Book Reviews</h2>
                    </div>
                </div>
                <div id="EmptyDiv" class="row" @(Model.Ratings.Count != 0 ? "style=display:none" : "")>
                    <div class="col-12 text-center mt-5">
                        <h4>Nothing here right now.</h4>
                    </div>
                </div>
                @foreach (Model.Rating rating in Model.Ratings)
                {
                    Model.User user = new Model.User(rating.UserID);
                    <div class="rating card" style="min-height:120px" data-id="@rating.RatingID" data-rating="@rating.RatingValue" data-comment="@rating.Comment">
                        <div class="icon-div">
                            <img class="userIcon" src="@user.LoadImage" />
                        </div>
                        <h5 class="userName"><a href="\Account?id=@user.UserID">@user.FullName</a></h5>
                        <h5 class="book">for <a href="\Book?id=@rating.BookID">@(new Model.Book(rating.BookID).Title)</a></h5>
                        <div class="options mt-1">
                            <button class="btn btn-warning btn-sm" onclick="hideRating(this)"><i class="fas fa-eye-slash"></i></button>
                            <button class="btn btn-danger btn-sm" onclick="deleteRating(this)"><i class="fas fa-trash"></i></button>
                            <button class="btn btn-success btn-sm" onclick="editRating(this)"><i class="fas fa-edit"></i></button>
                        </div>
                        <div class="date mt-1">
                            <h6>@rating.FormatedDate</h6>
                        </div>
                        <div class="flags mt-2">
                            <h3 class="text-primary">@rating.FlagUsers.Count<span class="h6 text-dark"> Flags</span></h3>
                        </div>
                        <h5>
                            <span class='stars'>
                                @for (int i = 0; i < rating.RatingValue; i++)
                                {
                                    <i class="fas fa-star"></i>
                                }
                                @for (int i = 0; i < 5 - rating.RatingValue; i++)
                                {
                                    <i class="far fa-star"></i>
                                }
                            </span>
                        </h5>
                        <h6 class="comment w-75">@rating.Comment</h6>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RatingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <span id="EditRatingStars">
                                <span class="star-overlay"></span>
                                <i class="fas fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                                <span class="star-overlay"></span>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <textarea id="EditComment" class="w-100 mt-2 mb-2 form-control" placeholder="What did you think?..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-3 text-center">
                        <input id="SaveRating" type="submit" value="Save" class="btn btn-success btn-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Ratings")

<script>
    $(document).ready(function () {
        $("#SaveRating").unbind("click");
        $("#SaveRating").click(function () {
            var data = {
                ID: $("#RatingModal").data("id"),
                BookID: $("#BookID").text(),
                Rating: $("#EditRatingStars svg[data-prefix='fas']").length,
                Comment: $("#EditComment").val()
            }
            $.ajax({
                type: "POST",
                url: "/Model/SaveRating",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $.ajax({
                        type: "POST",
                        url: "/Model/ClearFlags",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            var rating = $(".rating[data-id='" + data.ID + "']");
                            rating.fadeOut(function () {
                                rating.remove();
                                if ($(".rating").length == 0)
                                    $("#EmptyDiv").fadeIn();
                            });
                            $("#RatingModal").modal("hide");
                        },
                        failure: function (response) {
                            location.href = "\Error"
                        }
                    });
                },
                failure: function (response) {
                    location.href = "\Error"
                }
            });
        });
    });

    function hideRating(button) {
        var rating = $(button).parents(".rating");
        $.confirm({
            title: 'Hide Review',
            content: 'Are you sure you want to hide this review?',
            type: 'orange',
            buttons: {
                yes: function () {
                    $.ajax({
                        type: "POST",
                        url: "/Model/HideRating",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: JSON.stringify({
                            ID: rating.data("id")
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function () {
                            rating.fadeOut(function () {
                                rating.remove();
                            });
                        },
                        failure: function (response) {
                            location.href = "\Error"
                        }
                    });
                },
                no: function () { }
            }
        });
    }
</script>

<style>
    .rating .userName {
        line-height: 50px;
        margin-left: 66px;
        display: inline-block;
        position: absolute;
    }

    .rating .options {
        position: absolute;
        right: 20px;
    }

    .rating .date, .rating .flags {
        position: absolute;
        right: 20px;
        top: 50px;
    }

    .rating .flags {
        position: absolute;
        right: 20px;
        top: 70px;
    }

    .rating .book {
        line-height: 50px;
        margin-left: 195px;
        display: inline-block;
        position: absolute;
    }
</style>