<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="1200" />
    <title>@ViewData["Title"] - Jamin' Books</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/jquery-confirm.css" />
        <link rel="stylesheet" href="~/css/tooltipster.bundle.min.css" />
        <link rel="stylesheet" href="~/css/tooltipster-sideTip-light.min.css" />
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/jquery-confirm.css" />
        <link rel="stylesheet" href="~/css/tooltipster.bundle.min.css" />
        <link rel="stylesheet" href="~/css/tooltipster-sideTip-light.min.css" />
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<environment include="Development">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/sha256.min.js"></script>
    <script src="~/js/jquery-confirm.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/tooltipster.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="~/js/tooltipster.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/sha256.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-confirm.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
        <div class="container">
            <img class="brand-logo" src="~/images/slogo.png" />
            <img class="brand-name" src="~/images/mnamewhite.png" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto pr-3">
                    <li class="nav-item ml-2"><a class="nav-link home" asp-page="/Index">Home</a></li>
                    <li class="nav-item ml-2"><a class="nav-link books" asp-page="/Books">Books</a></li>
                    @if (Convert.ToBoolean(ViewData["IsLoggedIn"]))
                    {
                        <li class="nav-item ml-2"><a class="nav-link bookshelf" asp-page="/Bookshelf">Bookshelf</a></li>
                    }
                </ul>

                <ul class="navbar-nav navbar-right">
                    @if (Convert.ToBoolean(ViewData["IsLoggedIn"]))
                    {
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-dark-red mt-2 dropdown-toggle btn-lg white-text" type="button" id="UserDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    @ViewData["Name"] <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="UserDropDown">
                                    <li><a class="dropdown-item" href="/Account">My Account</a></li>
                                    <li><a class="dropdown-item" href="/Orders">My Orders</a></li>
                                    <li><a class="dropdown-item" href="/Ratings">My Reviews</a></li>
                                    <li><a href="/Security/Logout" class="dropdown-item">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item mt-2 ml-4">
                            <a href="\Cart" class="cart-icon">
                                <span class="fa-layers fa-fw">
                                    <i class="fas fa-shopping-cart line-height-0"></i>
                                    @if (Convert.ToInt32(ViewData["CartCount"]) > 0)
                                    {
                                        <span class="fa-layers-counter text-white">@ViewData["CartCount"]</span>
                                    }
                                </span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <button type="button" id="ShowLogin" class="btn btn-primary mt-2 btn-lg btn-dark-red" data-toggle="modal" data-target="#authenticationModal">
                                Login
                            </button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
    <footer>
        <div class="row">
            <div class="col-2 offset-3 p-3">
                <h5 class="text-white">Website Info</h5>
                <hr />
                <p><a href="About">About Us</a></p>
                <p><a href="Terms">Terms of Service</a></p>
                <p><a href="PrivacyPolicy">Privacy Policy</a></p>
            </div>
            <div class="col-2 p-3">
                <h5 class="text-white">Links</h5>
                <hr />
                <p><a href="Index">Home</a></p>
                <p><a href="Books">Books</a></p>
            </div>
            <div class="col-2 p-3">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/JaminBooks/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/JaminBooks" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:jaminbooksnoreply@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr />
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center white-text">
                <p class="mt-2">&copy @(DateTime.Now.ToString("yyyy")) James And Michael</p>
            </div>
            <hr />
        </div>
    </footer>
</body>
</html>