@page
@model JaminBooks.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
    ViewData["IsLoggedIn"] = Model.CurrentUser != null;
    ViewData["Name"] = Model.CurrentUser == null ? "" : Model.CurrentUser.FirstName + " " + Model.CurrentUser.LastName;
    ViewData["CartCount"] = Model.CurrentUser == null ? 0 : Model.CurrentUser.GetCart().Count;
    var Cart = Model.DisplayUser.GetCart();

    if (Model.CurrentUser != null && Model.CurrentUser.IsAdmin)
    {
        Layout = "~/Pages/Admin/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Pages/_Layout.cshtml";
    }
}

@if (Model.DisplayUser != null)
{
    <style>
        .book-icon {
            height: 100px;
            width: auto !important;
        }

        .price {
            position: relative;
        }

        .oldprice {
            text-decoration: line-through;
            position: absolute;
            bottom: -23px;
            left: 15px;
            font-size: smaller;
        }

        .truncate-ellipsis {
            display: table;
            table-layout: fixed;
            width: 100%;
            white-space: nowrap;
        }

            .truncate-ellipsis > * {
                display: table-cell;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    </style>

    <span id="UserID" class="d-none">@Model.DisplayUser.UserID</span>
    <div class="container body-content" style="min-height:85vh">
        <div class="container">
            <div id="EmptyCart" class="row" style="@(Cart.Keys.Count == 0 ? "" : "display:none")">
                <div class="col-12 text-center" style="height: 75vh">
                    <h2 class="mt-5">Nothing Here Yet</h2>
                    <h3 class="mb-3">Add Books To Your Cart</h3>
                    <div class="row mb-5">
                        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-8 offset-2">
                            <a href="\Books" class="btn btn-dark-red text-white btn-lg btn-block">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ActiveCart" class="row" style="@(Cart.Keys.Count == 0 ? "display:none" : "")">
                <div class="col-lg-8 col-md-12">
                    <h2 class="mt-2">@(Model.CurrentUser.UserID == Model.DisplayUser.UserID ? "Your" : Model.DisplayUser.FirstName + " " + Model.DisplayUser.LastName + "'s") Cart</h2>
                    <div id="Books" class="mt-2">
                        @foreach (Model.Book book in Cart.Keys)
                        {
                            <div class="book card w-100 p-1" data-id="@book.BookID" data-out="@(book.Quantity == 0)">
                                <div class="row">
                                    <div class="col-2">
                                        <img class="book-icon" src="@book.LoadImage">
                                    </div>
                                    <div class="col-4 mt-4 truncate-ellipsis">
                                        <h4 class="title">@book.Title</h4>
                                    </div>
                                    <div class="col-2 mt-4">
                                        <h5 class="price @(book.PercentDiscount > 0 ? "text-success" : "")">
                                            $@book.Price.ToString("0.00")
                                            @if (book.PercentDiscount > 0)
                                            {
                                                <span class="oldprice text-muted">$@book._Price.ToString("0.00")</span>
                                            }
                                        </h5>
                                    </div>
                                    <div class="col-2 mt-4">
                                        @if (@book.Quantity == 0)
                                        {
                                            <h5><span class="badge badge-danger">Out Of Stock</span></h5>
                                        }
                                        else
                                        {
                                            <input type="number" value="@Cart[book]" class="quantity form-control input-sm" min=1 max=@book.Quantity onkeydown="javascript: return event.keyCode == 69 ? false : true">
                                        }
                                    </div>
                                    <div class="col-2 mt-4">
                                        <button class="btn btn-danger remove-book"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mt-5">
                    <div class="card w-100 p-2">
                        <h3>Summary</h3>
                        <hr />
                        <div class="row p-2">
                            <h5 class="col-6">Book Total</h5>
                            <div class="col-6 text-right">
                                <span>$<span id="BookTotal">0.00</span></span>
                            </div>
                        </div>
                        <div class="row p-2" id="Discount" style="display:none">
                            <h5 class="col-6">Discount</h5>
                            <div class="col-6 text-right">
                                <span><span id="DiscountPercent"></span></span>
                            </div>
                        </div>
                        <div class="row p-2">
                            <h5 class="col-6">Shipping</h5>
                            <div class="col-6 text-right">
                                <span class="text-success">FREE</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row p-2">
                            <h5 class="col-6">Order Total</h5>
                            <div class="col-6 text-right">
                                <span><strong>$<span id="OrderTotal">0.00</span></strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-12">
                            <input id="Code" type="text" maxlength="10" class="form-control" placeholder="Coupon Code" />
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-12">
                            @if (Model.DisplayUser.IsConfirmed)
                            {
                                <button id="Checkout" class="btn btn-dark-red text-white btn-lg btn-block">Checkout</button>
                            }
                            else
                            {
                                <h5 class="text-danger font-weight-bold">Please verify email address</h5>
                                <button class="btn btn-dark-red text-white btn-lg btn-block disabled">Checkout</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    var callID = 0;

    $(document).ready(function () {
        getTotal();

        $(".quantity").on("input", function () {
            this.value = this.value.replace(/\D/g, '');
            getTotal();
        });

        $("#Code").on("input", function () {
            getTotal();
        });

        $("#Checkout").click(function () {

            var books = [];
            $(".book").each(function () {
                books.push([$(this).data("id"), $(this).find(".quantity").val()]);
            });

            var data = {
                UserID: $("#UserID").text(),
                Code: $("#Code").val(),
                Books: JSON.stringify(books)
            }

            $.ajax({
                type: "POST",
                url: "Model/ValidateCart",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (reply) {
                    if (reply[0]) {
                        var code = $("#Code").val()
                        location.href = "\Checkout" + (code == "" ? "" : "?code=" + code);
                    } else {
                        var books = reply[1];
                        var content = 'The available quantity of the following books has reduced. Your cart will be updated to reflect the change.<ul>';
                        books.forEach(function (bookdata) {
                            var book = $(".book[data-id='" + bookdata[0] + "']");
                            if (book.find(".quantity").val() > bookdata[1] && bookdata[1] != 0) {
                                content += "<li>" + book.find(".title").text() + "</li>"
                            }
                        });
                        content += "</ul>"

                        $.confirm({
                            title: 'Book Quantity Not Available',
                            content: content,
                            type: 'red',
                            buttons: {
                                ok: function () {

                                    books.forEach(function (bookdata) {
                                        var book = $(".book[data-id='" + bookdata[0] + "']");
                                        book.find(".quantity").val(bookdata[1]);
                                    });

                                    var booksOutOfStock = 0;
                                    content = 'The following books are out of stock. Would you like to remove them from your cart to checkout?<ul>';
                                    books.forEach(function (bookdata) {
                                        var book = $(".book[data-id='" + bookdata[0] + "']");
                                        if (bookdata[1] == 0) {
                                            content += "<li>" + book.find(".title").text() + "</li>";
                                            booksOutOfStock++;
                                        }
                                    });
                                    content += "</ul>"

                                    if (booksOutOfStock > 0) {
                                        $.confirm({
                                            title: 'Book Out Of Stock',
                                            content: content,
                                            type: 'red',
                                            buttons: {
                                                yes: function () {
                                                    $(".book[data-out='True']").each(function () { removeBook($(this)) });
                                                },
                                                no: function () { }
                                            }
                                        });
                                    } else {
                                        getTotal();
                                    }
                                }
                            }
                        });
                    }
                },
                failure: function (response) {
                    location.href = "\Error"
                }
            });
        });

        $(".remove-book").click(function () {
            var book = $(this).parents(".book");
            $.confirm({
                title: 'Remove Book',
                content: 'Are you sure you want to remove this book from your cart?',
                type: 'red',
                buttons: {
                    yes: function () {
                        removeBook(book);
                    },
                    no: function () { }
                }
            });
        });
    });

    function removeBook (book) {
        $.ajax({
            type: "POST",
            url: "Model/RemoveBook",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify({
                UserID: $("#UserID").text(),
                BookID: book.data("id")
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                if ($(".book").length == 1) {
                    $("#ActiveCart").fadeOut(function () {
                        $("#EmptyCart").fadeIn();
                    });
                } else {
                    book.fadeOut(function () {
                        book.remove();
                        getTotal();
                    });
                }
            },
            failure: function (response) {
                location.href = "\Error"
            }
        });
    }

    function getTotal() {

        var books = [];
        $(".book").each(function () {
            books.push([$(this).data("id"), $(this).find(".quantity").val()]);
        });

        var data = {
            CallID: ++callID,
            UserID: $("#UserID").text(),
            Code: $("#Code").val(),
            Books: JSON.stringify(books)
        }

        $.ajax({
            type: "POST",
            url: "Model/GetTotal",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (totals) {
                if (totals[0] < callID) return;
                if (totals[1]) $("#Code").css("border-color", "green");
                else $("#Code").removeAttr("style");

                $("#BookTotal").text(totals[2]);
                if (totals[3] == 0) {
                    $("#Discount").hide();
                } else {
                    $("#Discount").show();
                    $("#DiscountPercent").text(totals[3]);
                }
                $("#OrderTotal").text(totals[4]);
            },
            failure: function (response) {
                location.href = "\Error"
            }
        });
    }
    </script>

}