@page
@model JaminBooks.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Pages/_Layout.cshtml";
    ViewData["IsLoggedIn"] = Model.CurrentUser != null;
    ViewData["Name"] = Model.CurrentUser == null ? "" : Model.CurrentUser.FirstName + " " + Model.CurrentUser.LastName;
    ViewData["CartCount"] = Model.CurrentUser == null ? 0 : Model.CurrentUser.GetCart().Count;
    var Cart = Model.DisplayUser.GetCart();
}

@if (Model.DisplayUser != null)
{
<style>
    .book-icon{
        height: 100px;
        width: auto !important;
    }
    .truncate-ellipsis {
        display: table;
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
    }

        .truncate-ellipsis > * {
            display: table-cell;
            overflow: hidden;
            text-overflow: ellipsis;
        }
</style>

<span id="UserID" class="d-none">@Model.DisplayUser.UserID</span>
<div class="container body-content">
    <div class="container">
        <div id="EmptyCart" class="row" style="@(Cart.Keys.Count == 0 ? "" : "display:none")">
            <div class="col-12 text-center" style="height: 75vh">
                <h2 class="mt-5">Nothing Here Yet</h2>
                <h3 class="mb-3">Add Books To Your Cart</h3>
                <div class="row mb-5">
                    <div class="col-4 offset-4">
                            <a href="\Books" class="btn btn-dark-red text-white btn-lg btn-block">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="ActiveCart" class="row" style="@(Cart.Keys.Count == 0 ? "display:none" : "")">
            <div class="col-lg-8 col-md-12">
                <h2 class="mt-2">@(Model.CurrentUser.UserID == Model.DisplayUser.UserID ? "Your" : Model.DisplayUser.FirstName + " " + Model.DisplayUser.LastName + "'s") Cart</h2>
                <div id="Books" class="mt-2">
                    @foreach (Model.Book book in Cart.Keys)
                    {
                        <div class="book card w-100 p-1" data-id="@book.BookID">
                            <div class="row">
                                <div class="col-2">
                                    <img class="book-icon" src="@book.LoadImage">
                                </div>
                                <div class="col-4 mt-4 truncate-ellipsis">
                                    <h4 class="title">@book.Title</h4>
                                </div>
                                <div class="col-2 mt-4">
                                    <h5 class="title">$@book.Price.ToString("0.##")</h5>
                                </div>
                                <div class="col-2 mt-4">
                                    <input type="number" value="@Cart[book]" class="quantity form-control input-sm" min=1 max=@book.Quantity onkeydown="javascript: return event.keyCode == 69 ? false : true">
                                </div>
                                <div class="col-2 mt-4">
                                    <button class="btn btn-danger remove-book"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-4 mt-5">
                <div class="card w-100 p-2">
                    <h3>Summary</h3>
                    <hr/>
                    <div class="row p-2">
                        <h5 class="col-6">Book Total</h5>
                        <div class="col-6 text-right">
                            <span>$<span id="BookTotal">0.00</span></span>
                        </div>
                    </div>
                    <div class="row p-2" id="Discount" style="display:none">
                        <h5 class="col-6">Discount</h5>
                        <div class="col-6 text-right">
                            <span><span id="DiscountPercent"></span></span>
                        </div>
                    </div>
                    <div class="row p-2">
                        <h5 class="col-6">Shipping</h5>
                        <div class="col-6 text-right">
                            <span class="text-success">FREE</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row p-2">
                        <h5 class="col-6">Order Total</h5>
                        <div class="col-6 text-right">
                            <span><strong>$<span id="OrderTotal">0.00</span></strong></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-12">
                        <a href="\Checkout" class="btn btn-dark-red text-white btn-lg btn-block">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getTotal();

        $(".quantity").change(function () {
            getTotal();
        });

        $(".remove-book").click(function () {
            var book = $(this).parents(".book");
            $.confirm({
                title: 'Remove Book',
                content: 'Are you sure you want to remove this book from your cart?',
                type: 'red',
                buttons: {
                    yes: function () {
                        $.ajax({
                            type: "POST",
                            url: "Model/RemoveBook",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: JSON.stringify({
                                UserID: $("#UserID").text(),
                                BookID: book.data("id")
                            }),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function () {
                                    if ($(".book").length == 1) {
                                        $("#ActiveCart").fadeOut(function () {
                                            $("#EmptyCart").fadeIn();
                                        });
                                    } else {
                                        book.fadeOut(function () {
                                            book.remove();
                                            getTotal();
                                        });
                                    }
                            },
                            failure: function (response) {
                                alert(response);
                            }
                        });
                    },
                    no: function () { }
                }
            });
        });
    });

    function getTotal() {

        var books = [];
        $(".book").each(function () {
            books.push([$(this).data("id"), $(this).find(".quantity").val()]);
        });

        var data = {
            UserID: $("#UserID").text(),
            Books: JSON.stringify(books)
        }

        $.ajax({
            type: "POST",
            url: "Model/GetTotal",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (totals) {
                $("#BookTotal").text(totals[0]);
                if (totals[1] == 0) {
                    $("#Discount").hide();
                } else {
                    $("#Discount").show();
                    $("#DiscountPercent").text(totals[1]);
                }
                $("#OrderTotal").text(totals[2]);
            },
            failure: function (response) {
                alert(response);
            }
        });
    }
</script>

}

