@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["IsLoggedIn"] = Model.CurrentUser != null;
    ViewData["Name"] = Model.CurrentUser == null ? "" : Model.CurrentUser.FirstName + " " + Model.CurrentUser.LastName;
    ViewData["CartCount"] = Model.CurrentUser == null ? 0 : Model.CurrentUser.GetCart().Count;

    if (Model.CurrentUser != null && Model.CurrentUser.IsAdmin)
    {
        Layout = "~/Pages/Admin/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Pages/_Layout.cshtml";
    }
}

<style>
    #main > div.pl-3 {
        padding-left: 0 !important;
    }

    .bottom {
        position: absolute;
        bottom: 15px;
        width: 120px;
        left: calc(50% - 67px);
    }

    .holder {
        overflow: hidden;
        height: 74%;
    }

    .oldprice {
        text-decoration: line-through;
        position: absolute;
        bottom: -20px;
        left: 20px;
        color: #aaa;
        font-size: smaller;
    }
</style>

<div>
    <script>$("a.home").addClass("active")</script>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Banners.Count; i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @foreach (Model.Banner b in Model.Banners)
            {
                <div class="carousel-item @(Model.Banners.IndexOf(b) == 0 ? "active" : "" )">
                    <img src="@b.LoadImage" class="d-block w-100" />
                    <div class="carousel-caption" role="option">
                        @if (b.URL != null)
                        {
                            <a class="btn btn-lg btn-dark-red text-white" href="@b.URL">
                                Shop Now
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-11 offset-1">
            <h3>Sales</h3>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-10 offset-1 row">
            @foreach (Model.Book b in Model.OnSale)
            {
                <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                    <div class="card w-100">
                        <div class="row">
                            <div class="col-6 pr-0">
                                <img src="@b.LoadImage" alt="@b.Title">
                            </div>
                            <div class="col-6 p-2 pr-3 card-body">
                                <div class="holder">
                                    <h5 class="title mb-1"><b>@b.Title</b></h5>
                                    @if (b.PercentDiscount > 0)
                                    {
                                        <h2 class="text-danger mb-1"><b>@b.PercentDiscount</b>% <span class="h4">OFF</span></h2>
                                    }
                                    <h5 class="card-text position-relative ml-2">
                                        $@b.Price.ToString("0.00")
                                        @if (b.PercentDiscount > 0)
                                        {
                                            <span class="oldprice">$@b._Price.ToString("0.00")</span>
                                        }
                                    </h5>
                                </div>
                                <a class="btn btn-success bottom" href="\Book?id=@b.BookID">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-11 offset-1">
            <h3>Most Popular</h3>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-10 offset-1 row">
            @foreach (Model.Book b in Model.MostPopular)
            {
                <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                    <div class="card w-100">
                        <div class="row">
                            <div class="col-6 pr-0">
                                <img src="@b.LoadImage" alt="@b.Title">
                            </div>
                            <div class="col-6 p-2 pr-3">
                                <div class="holder">
                                    <h5 class="title mb-1"><b>@b.Title</b></h5>
                                    @if (b.PercentDiscount > 0)
                                    {
                                        <h2 class="text-danger mb-1"><b>@b.PercentDiscount</b>% <span class="h4">OFF</span></h2>
                                    }
                                    <h5 class="card-text position-relative ml-2">
                                        $@b.Price.ToString("0.00")
                                        @if (b.PercentDiscount > 0)
                                        {
                                            <span class="oldprice">$@b._Price.ToString("0.00")</span>
                                        }
                                    </h5>
                                </div>
                                <a class="btn btn-success bottom" href="\Book?id=@b.BookID">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-11 offset-1">
            <h3>Best Sellers</h3>
        </div>
    </div>

    <div class="row mt-4 mb-5">
        <div class="col-10 offset-1 row">
            @foreach (Model.Book b in Model.BestSellers)
            {
                <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                    <div class="card w-100">
                        <div class="row">
                            <div class="col-6 pr-0">
                                <img src="@b.LoadImage" alt="@b.Title">
                            </div>
                            <div class="col-6 p-2 pr-3">
                                <div class="holder">
                                    <h5 class="title mb-1"><b>@b.Title</b></h5>
                                    @if (b.PercentDiscount > 0)
                                    {
                                        <h2 class="text-danger mb-1"><b>@b.PercentDiscount</b>% <span class="h4">OFF</span></h2>
                                    }
                                    <h5 class="card-text position-relative ml-2">
                                        $@b.Price.ToString("0.00")
                                        @if (b.PercentDiscount > 0)
                                        {
                                            <span class="oldprice">$@b._Price.ToString("0.00")</span>
                                        }
                                    </h5>
                                </div>
                                <a class="btn btn-success bottom" href="\Book?id=@b.BookID">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@await Html.PartialAsync("_Authentication")
