@page
@using Microsoft.AspNetCore.Routing;
@model JaminBooks.Pages.OrderModel
@{
    ViewData["Title"] = "Order";
    ViewData["IsLoggedIn"] = Model.CurrentUser != null;
    ViewData["Name"] = Model.CurrentUser == null ? "" : Model.CurrentUser.FirstName + " " + Model.CurrentUser.LastName;
    ViewData["CartCount"] = Model.CurrentUser == null ? 0 : Model.CurrentUser.GetCart().Count;

    if (Model.CurrentUser != null && Model.CurrentUser.IsAdmin)
    {
        Layout = "~/Pages/Admin/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Pages/_Layout.cshtml";
    }
}

@if (Model.CurrentUser != null)
{
    <style>
        .book-icon {
            height: 100px;
            width: auto !important;
        }

        .book{
            transition: .3s;
        }

        .book:hover {
            transform: scale(1.05);
        }

        .truncate-ellipsis {
            display: table;
            table-layout: fixed;
            width: 100%;
            white-space: nowrap;
        }

            .truncate-ellipsis > * {
                display: table-cell;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    </style>

    <div class="container body-content">
        <div class="container mt-5">
            @if (Model.DisplayThanks)
            {
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Thank you for your order.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5 class="text-center">A receipt has been emailed to <span class="text-primary font-weight-bold">@Model.Order.Card.User.Email.</span></h5>
                </div>
            </div>
            }
            else
            {
            <div class="row">
                <div class="col-12">
                    <span class="font-weight-bold h4 mr-3">Order Placed:</span><span class="h5">@Model.Order.OrderDate.ToString("MM/dd/yyyy HH:mm:ss")</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="font-weight-bold h4 mr-3">Receipt Email:</span><span class="h5">@Model.Order.Card.User.Email</span>
                </div>
            </div>
            }
            <div class="row mt-4">
                <div class="col-4 d-flex">
                    <div class="card dc-card d-inline-block" style="width:310px">
                        <div class="card-header">
                            <h5>Payment</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title dc-card-last-four">****-****-****-@Model.Order.Card.LastFourDigits</h5>
                            <h6 class="card-subtitle mb-2 text-muted dc-card-exp">@(Model.Order.Card.ExpMonth + "/" + Model.Order.Card.ExpYear)</h6>
                            <h5 class="card-title text-muted dc-card-name">@Model.Order.Card.Name</h5>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="card address d-inline-block item" style="width:310px">
                        <div class="card-header">
                            <h5>Billing Address</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">@Model.Order.Card.Address.Line1</h6>

                            @if (Model.Order.Card.Address.Line2 != null)
                    {
                        <h6 class="card-title text-muted">@Model.Order.Card.Address.Line2</h6>
            }

                            @if (Model.Order.Card.Address.State != null)
                    {
                        <h6 class="card-title text-muted">@Model.Order.Card.Address.City, @Model.Order.Card.Address.State @Model.Order.Card.Address.ZIP</h6>
            }
            else
            {
                <h6 class="card-title text-muted">@Model.Order.Card.Address.City, @Model.Order.Card.Address.Country @Model.Order.Card.Address.ZIP</h6>
    }
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="card address d-inline-block item" style="width:310px">
                        <div class="card-header">
                            <h5>Shipping Address</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">@Model.Order.Address.Line1</h6>

                            @if (Model.Order.Address.Line2 != null)
                    {
                        <h6 class="card-title text-muted">@Model.Order.Address.Line2</h6>
            }

                            @if (Model.Order.Address.State != null)
                    {
                        <h6 class="card-title text-muted">@Model.Order.Address.City, @Model.Order.Address.State @Model.Order.Address.ZIP</h6>
            }
            else
            {
                <h6 class="card-title text-muted">@Model.Order.Address.City, @Model.Order.Address.Country @Model.Order.Address.ZIP</h6>
    }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div id="Books">
                        @foreach (KeyValuePair<Model.Book, dynamic> book in Model.Order.Books)
                {
                    <div class="book card w-100 p-1" data-id="@book.Key.BookID" onclick="location.href='\Book?id=@book.Key.BookID'">
                        <div class="row">
                            <div class="col-2">
                                <img class="book-icon" src="@book.Key.LoadImage">
                            </div>
                            <div class="col-5 mt-4 truncate-ellipsis">
                                <h4 class="title">@book.Key.Title</h4>
                            </div>
                            <div class="col-3 mt-4">
                                <h5 class="price">$@(((decimal)new RouteValueDictionary(book.Value)["Price"]).ToString("0.##"))</h5>
                            </div>
                            <div class="col-2 mt-4">
                                <h5 class="quantity">x@(new RouteValueDictionary(book.Value)["Quantity"])</h5>
                            </div>
                        </div>
                    </div>
        }
                    </div>
                </div>
                <div class="col-4">
                    <div class="card w-100 p-2">
                        <div class="row p-2">
                            <h5 class="col-6">Book Total</h5>
                            <div class="col-6 text-right">
                                <span>@Model.BookTotal</span>
                            </div>
                        </div>
                        <div class="row p-2" id="Discount" style="display:none">
                            <h5 class="col-6">Discount</h5>
                            <div class="col-6 text-right">
                                <span>@Model.PercentDiscount</span>
                            </div>
                        </div>
                        <div class="row p-2">
                            <h5 class="col-6">Shipping</h5>
                            <div class="col-6 text-right">
                                <span class="text-success">FREE</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row p-2">
                            <h5 class="col-6">Order Total</h5>
                            <div class="col-6 text-right">
                                <span><strong>@Model.OrderTotal</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
